@using CashFlow.Web.Client.Enums
@using CashFlow.Web.Client.StringConverters
@using System.Net.Http.Headers
@using CashFlow.Web.StringConverter
@using System.Globalization
@using System.Net

@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar

@rendermode InteractiveServer

<MudDialog Style="min-width: 500px; padding: 1rem;">
    <TitleContent>
        Selecione o mês do relatório
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column gap-3">
            <MudDatePicker Label="Selecione um mês" @bind-Date="_date" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Inline"/>
            <MudRadioGroup @bind-Value="_reportFileType">
                <MudRadio Value="@(ReportFileType.Pdf)" Color="Color.Primary">PDF</MudRadio>
                <MudRadio Value="@(ReportFileType.Excel)" Color="Color.Secondary">Excel</MudRadio>
            </MudRadioGroup>
        </div>    
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
        <MudButton Class="px-5" Color="Color.Primary" Variant="Variant.Filled" OnClick="GenerateReport">Gerar</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = new();
    private void Cancel() => MudDialog.Cancel();
    private DateTime? _date = DateTime.Today;
    private ReportFileType _reportFileType { get; set; }
    private CultureInfo _cultureInfo  = CultureInfo.CurrentCulture;

    private async Task GenerateReport()
    {
        using var clientFactory = CashFlowApiClientFactory.CreateClient(Configuration);

        try 
        {
            var cultureName = _cultureInfo.Name;            

            clientFactory.DefaultRequestHeaders.AcceptLanguage.Clear();
            clientFactory.DefaultRequestHeaders.AcceptLanguage.Add(new StringWithQualityHeaderValue(cultureName));

            var response = await clientFactory.GetAsync($"{clientFactory.BaseAddress}/reports/expenses/{FormatReportFileType.ToFriendlyString(_reportFileType)}?month={DateOnly.FromDateTime(_date ?? DateTime.Now).ToString("yyyy-MM")}");           

            if (response.IsSuccessStatusCode)
            {
                var stream = await response.Content.ReadAsStreamAsync();
                using var streamRef = new DotNetStreamReference(stream);

                await JSRuntime.InvokeVoidAsync("downloadFileFromStream", $"Relatório_{DateOnly.FromDateTime(_date ?? DateTime.Now).ToString("Y")}.{FormatReportFileType.ToFriendlyString(_reportFileType)}", streamRef);

                MudDialog.Close();
            }        
            else if (response.StatusCode == HttpStatusCode.NotFound)
            {
                Snackbar.Add("Nenhum dado encontrado para o mês selecionado", Severity.Warning);
            }
                        
        } 
        catch(Exception ex)
        {                
            Snackbar.Add("Ocorreu um erro ao gerar o relatório", Severity.Error);           
        }        
    }      
}     
