@page "/"

<PageTitle>Home</PageTitle>

<div class="" style="width: 100vw; ">
   @* <MudNavLink Class="" Href="/dashboard">Dashboard</MudNavLink> *@
    <MudButton Variant="Variant.Filled" Href="/dashboard" >Dashboard</MudButton>
</div>
